version: '3.3'

services:
  server:
    build:
      context: ./ticket-to-ride
      dockerfile: Dockerfile
    container_name: server
    ports:
      - 8080:8080
      - 8000:8000
    restart: on-failure
    environment:
      POSTGRES_DB: 'sbb'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_HOST: 'db'
      ACTIVEMQ_HOST: 'activemq'
    depends_on:
      - db
      - activemq
    networks:
      - main
    links:
      - db

  stand:
    build:
      context: ./train-display
      dockerfile: Dockerfile
    container_name: stand
    ports:
    - 8081:8080
    - 9990:9990
    - 8001:8001
    restart: on-failure
    depends_on:
      - server
    networks:
      - main
    links:
      - server

  db:
    image: postgres:latest
    container_name: postgresql
    ports:
      - 5432:5432
    volumes:
      - /pgdata:/var/lib/postgresql/data/pgdata
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
      ALLOW_IP_RANGE: 0.0.0.0/0
    restart: always
    networks:
      - main

  activemq:
    image: rmohr/activemq
    container_name: activemq
    restart: always
    ports:
      - 1883:1883
      - 5672:5672
      - 61613:61613
      - 61614:61614
      - 61616:61616
      - 8161:8161
    environment:
      ACTIVEMQ_NAME: amq
      ACTIVEMQ_REMOVE_DEFAULT_ACCOUNT: 'True'
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin

volumes:
  pgdata:

networks:
  main:
