<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbb main page">
    <meta name="author" content="Trofim Kremen">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/datepicker-extension/jquery-ui-1.10.3.custom.css}"/>
    <title>Index</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{/resources/images/SBB-logo.png}" width="40" height="40" class="d-inline-block align-top" alt="">
            SBB App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/trains}">Trains</a>
                <a class="nav-item nav-link" th:href="@{/stations}">Stations</a>
            </div>
        </div>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="isAuthenticated()"
              th:action="@{/profile}">
            <button class="btn btn-outline-info my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                Profile
            </button>
        </form>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="isAuthenticated()"
              th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-out-button" type="submit">
                Sign out
            </button>
        </form>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="!isAuthenticated()"
              th:action="@{/login}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                Sign in
            </button>
        </form>
    </nav>
</header>
<main style="overflow: auto">
    <div class="container container-fluid">
        <h1>New Train</h1>
        <select class="form-control" style="display: none"
                name="dropdownSectionList" id="dropdownSectionList">
            <option value="0">Select route section</option>
            <option th:each="sectionItem : ${sections}"
                    th:value="${sectionItem.id}"
                    th:text="${sectionItem.getStationDtoFrom() + ' &longrightarrow; ' + sectionItem.getStationDtoTo()}"></option>
        </select>
        <form th:action="@{/trains/add}" method="post"
              th:object="${train}">
            <div class="row">
                <div class="col-md-4">

                    <!--TRAIN FIELDS-->
                    <p class="error-message"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('id')}? 'has-error':''">
                        <label for="trainId" class="control-label">Train id</label>
                        <input id="trainId"
                               class="form-control"
                               th:field="*{id}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('id')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                        <label for="trainName" class="control-label">Train name</label>
                        <input id="trainName"
                               class="form-control"
                               th:field="*{name}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('name')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('avgSpeed')}? 'has-error':''">
                        <label for="trainAvgSpeed" class="control-label">Average speed</label>
                        <input id="trainAvgSpeed"
                               class="form-control"
                               th:field="*{avgSpeed}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('avgSpeed')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('departure')}? 'has-error':''">
                        <label for="departureTime" class="control-label">Departure Time</label>
                        <input id="departureTime"
                               class="form-control"
                               type="time"
                               th:field="*{departure}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('departure')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('numberOfSeats')}? 'has-error':''">
                        <label for="trainSeats" class="control-label">Number of seats</label>
                        <input id="trainSeats"
                               class="form-control"
                               th:field="*{numberOfSeats}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('numberOfSeats')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-md-3">

                    <h3>Choose ride dates</h3>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('dates')}? 'has-error':''">
                        <div id="dateRange"></div>
                        <input id="trainRideDates" class="form-control"
                               th:field="*{dates}" readonly style="display: none"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('dates')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-md-5">

                    <!--LIST OF SCHEDULE SECTIONS-->
                    <h3>Add schedule sections</h3>
                    <div id="scheduleSectionList">
                        <div class="row">
                            <div class="col form-group">Section</div>
                            <div class="col col-md-2 form-group">Stop duration</div>
                            <div class="col col-md-3 form-group">Index in route</div>
                        </div>
                        <div class="row item" th:id="${status.index}"
                             th:each="section, status : ${train.scheduleSectionFormDtoArray}">
                            <div class="col-3 form-group">
                                <select class="form-control"
                                        th:field="*{scheduleSectionFormDtoArray[__${status.index}__].sectionDtoId}">
                                    <option value="0">Select route section</option>
                                    <option th:each="sectionItem : ${sections}"
                                            th:value="${sectionItem.id}"
                                            th:text="${sectionItem.getStationDtoFrom() + '<-->' + sectionItem.getStationDtoTo()}"></option>
                                </select>
                            </div>
                            <div class="col-2 col-md-2 form-group">
                                <input th:field="*{scheduleSectionFormDtoArray[__${status.index}__].stopDuration}"/>
                            </div>
                            <div class="col-2 col-md-2 form-group">
                                <input th:field="*{scheduleSectionFormDtoArray[__${status.index}__].indexWithinTrainRoute}"
                                       th:value="${status.index}" readonly/>
                            </div>
                            <div class="col-1 form-group">
                                <button type="button" class="btn btn-danger">Delete row</button>
                            </div>
                        </div>
                    </div>

                    <!--ADD NEW ROW BUTTON-->
                    <div class="col">
                        <button type="button" class="btn btn-success" onclick="addScheduleSectionRow()">Add row</button>
                    </div>
                </div>

                <!--SUBMIT FORM BUTTON-->
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>
<footer class="rounded-bottom page-footer bg-light">
    <p class="text-center footer-text">&copy; 2020 Java School &middot; Trofim Kremen </p>
</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/datepicker-extension/jquery.datepicker.extension.range.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/resources/js/main.js}"></script>
</body>
</html>