<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbb main page">
    <meta name="author" content="Trofim Kremen">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <title>Index</title>
</head>
<body>
<main>
    <header>
        <nav class="navbar navbar-expand navbar-dark" style="background-color: crimson" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/}">Home</a>
                    <a class="nav-item nav-link" th:href="@{/admin/trains}">Trains</a>
                    <a class="nav-item nav-link" th:href="@{/admin/stations}">Stations</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand navbar-light" style="background-color: whitesmoke">
            <a class="navbar-brand" href="/">
                <img th:src="@{/resources/images/SBB-logo.png}" width="40" height="40" class="d-inline-block align-top" alt="">
                SBB App
            </a>
            <form class="form-inline mt-2 mt-md-0" method="get"
                  sec:authorize="isAuthenticated()"
                  th:action="@{/profile}">
                <button class="btn btn-outline-info my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                    <i class="far fa-address-card"></i>
                </button>
            </form>
            <form class="form-inline mt-2 mt-md-0" method="get"
                  sec:authorize="isAuthenticated()"
                  th:action="@{/logout}">
                <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-out-button" type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
            <form class="form-inline mt-2 mt-md-0" method="get"
                  sec:authorize="!isAuthenticated()"
                  th:action="@{/login}">
                <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                </button>
            </form>
        </nav>
    </header>
    <div class="container container-fluid">
        <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show" role="alert">
            <p>You have logged out!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h1>Get your ticket to ride!</h1>
        <form th:action="@{/routes}" method="post" th:object="${search}">
            <div class="row">
                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>
                <div class="col-md-4">
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('stationNameFrom')}? 'has-error':''">
                        <label for="stationFrom" class="control-label">Station from</label>
                        <select class="form-control" id="stationFrom"
                                th:field="*{stationNameFrom}">
                            <option value="">Select departure station</option>
                            <option th:each="stationItem : ${stations}"
                                    th:value="${stationItem.name}"
                                    th:text="${stationItem.getName()}"></option>
                        </select>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('stationNameFrom')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('stationNameTo')}? 'has-error':''">
                        <label for="stationTo" class="control-label">Station to</label>
                        <select class="form-control" id="stationTo"
                                th:field="*{stationNameTo}">
                            <option value="">Select destination station</option>
                            <option th:each="stationItem : ${stations}"
                                    th:value="${stationItem.name}"
                                    th:text="${stationItem.getName()}"></option>
                        </select>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('stationNameTo')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('rideDate')}? 'has-error':''">
                        <label for="rideDate" lang="en" class="control-label">Ride date</label>
                        <input id="rideDate"
                               type="date"
                               class="form-control"
                               th:field="*{rideDate}">
                        <p class="error-message"
                           th:each="error: ${#fields.errors('rideDate')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer class="fixed-bottom page-footer bg-light">
    <span class="text-center footer-text">&copy; 2020 Java School &middot; Trofim Kremen</span>
</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>