<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbb search result page">
    <meta name="author" content="Trofim Kremen">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <title>Search result</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-dark" style="background-color: crimson" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/}">Home</a>
                <a class="nav-item nav-link" th:href="@{/admin/trains}">Trains</a>
                <a class="nav-item nav-link" th:href="@{/admin/stations}">Stations</a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand navbar-light" style="background-color: whitesmoke">
        <a class="navbar-brand" href="/">
            <img th:src="@{/resources/images/SBB-logo.png}" width="40" height="40" class="d-inline-block align-top" alt="">
            SBB App
        </a>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="isAuthenticated()"
              th:action="@{/profile}">
            <button class="btn btn-outline-info my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                <i class="far fa-address-card"></i>
            </button>
        </form>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="isAuthenticated()"
              th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-out-button" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="!isAuthenticated()"
              th:action="@{/login}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                <i class="fas fa-sign-in-alt"></i>
            </button>
        </form>
    </nav>
</header>
<main>

    <h1 class="text-center" th:text="${searchForm.stationNameFrom} +
    ' &LongRightArrow; ' + ${searchForm.stationNameTo}">
    </h1>
    <div class="container rounded-lg bg-light mt-3" th:each="route : ${discoveredRoutes}">
        <h4>
            <span class="row mt-1" th:text="'Total time: ' + ${route.getTotalDuration().toMinutes()} + ' min'"></span>
            <span class="row mt-1" th:text="'Total distance: ' + ${route.getTotalDistance()} + ' km'"></span>
            <span class="row mt-1" th:text="'Tickets left: ' + ${route.getTicketsAvailable()}"></span>
        </h4>
        <hr class="mt-2 mb-2"/>
        <ul class="list-group" th:each="routePart : ${route.routePartDtoList}">
            <li class="list-group-item">
                <h5>
                    <span class="row mt-1" th:text="'Ride time: ' + ${routePart.getDuration().toMinutes()} + ' min'"></span>
                    <span class="row mt-1" th:text="'Ride distance: ' + ${routePart.getDistance()} + ' km'"></span>
                </h5>
                <div class="row">
                    <div class="col text-right">
                        <a th:href="@{'/stations/' + ${routePart.getStationDtoFrom().getId()} + '?rideDate=' +
                        ${routePart.getDepartureTime().toLocalDate()}}">
                            <span th:text="${routePart.getStationDtoFrom().getName()}"></span>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a th:href="@{'/trains/' + ${routePart.getTrainId()} + '?rideDate=' +
                        ${routePart.getDepartureTime().toLocalDate()}}">
                            <span th:text="${routePart.getTrainId()} + ' ' + ${routePart.getTrainName()}"></span>
                        </a>
                    </div>
                    <div class="col text-left">
                        <a th:href="@{'/stations/' + ${routePart.getStationDtoTo().getId()} + '?rideDate=' +
                        ${routePart.getDepartureTime().toLocalDate()}}">
                            <span th:text="${routePart.getStationDtoTo().getName()}"></span>
                        </a>
                    </div>
                </div>
                <hr class="mt-2 mb-2"/>
                <div class="row">
                    <div class="col text-right">
                        <span th:text="${#temporals.format(routePart.getDepartureTime(), 'HH:mm')}"></span>
                    </div>
                    <div class="col-2 text-center">
                        <span>&LongRightArrow;</span>
                    </div>
                    <div class="col text-left">
                        <span th:text="${#temporals.format(routePart.getArrivalTime(), 'HH:mm')}"></span>
                    </div>
                </div>
                <div class="text-center small">
                    <span th:text="${routePart.getStationNameSequence()}"></span>
                </div>
            </li>
        </ul>
        <div>
            <a th:href="@{/routes/{id}(id=${route.getId()})}" class="btn btn-danger mt-2">
                <span th:text="'Get your ticket to ride for ' + ${route.getTotalPrice()} + ' euro!'"></span>
            </a>
        </div>
    </div>
</main>
<footer class="rounded-bottom page-footer bg-light">
    <p class="text-center footer-text">&copy; 2020 Java School &middot; Trofim Kremen </p>
</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>