<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbb trains page">
    <meta name="author" content="Trofim Kremen">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <title>Train list</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
        <img th:src="@{/resources/images/SBB-logo.png}" width="40" height="40" class="d-inline-block align-top" alt="">
        SBB App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/}">Home</a>
                <a class="nav-item nav-link active" th:href="@{/trains}">Trains<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/stations}">Stations</a>
            </div>
        </div>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="isAuthenticated()"
              th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                Sign out
            </button>
        </form>
        <form class="form-inline mt-2 mt-md-0" method="get"
              sec:authorize="!isAuthenticated()"
              th:action="@{/login}">
            <button class="btn btn-outline-success my-2 my-sm-0" data-test-id="sign-in-button" type="submit">
                Sign in
            </button>
        </form>
    </nav>
</header>
<main>
    <div class="container container-fluid">
        <h3>Train List</h3>
        <div class="row-cols-1" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="mb-4 mt-3 mr-2 ml-2 btn btn-primary"
               role="button"
               th:href="@{/trains/add}">Add train</a>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action btn btn-primary"
               role="button"
               data-toggle="modal"
               aria-expanded="true"
               id="trainDetails"
               th:each="train : ${trains}"
               th:attr="data-target='#modal' + ${train.getId()}"
               th:text="'Train ' + ${train.getId()}">
            </a>
            <div class="modal fade" tabindex="1"
                 th:each="train : ${trains}"
                 th:id="modal + ${train.getId()}"
                 aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:id="modalLabel" th:text="'Train ' + ${train.getId()}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Train name</h5>
                            <p th:text="${train.getName()}"></p>
                            <hr>
                            <h5>Train type</h5>
                            <p th:text="${train.getType()}"></p>
                            <hr>
                            <h5>Average speed</h5>
                            <p th:text="${train.getAvgSpeed()}"></p>
                            <hr>
                            <h5>Number of seats</h5>
                            <p th:text="${train.getNumberOfSeats()}"></p>
                        </div>
                        <div class="modal-footer">
                            <a role="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                            <a role="button" class="btn btn-primary"
                               th:href="@{/trains/{id}(id=${train.getId()})}">Inspect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="fixed-bottom page-footer bg-light">
    <p class="text-center footer-text">&copy; 2020 Java School &middot; Trofim Kremen </p>
</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>